body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 50px;
}

.logo {
  width: 250px;
}

p {
  font-size: 15px;
}

.site {
  width: 600px;
}

@media only screen and (max-width: 670px) {
  body {
    margin: 20px 20px;
  }

  .logo {
    width: 200px;
  }

  .site {
    width: 500px;
  }
}

@media only screen and (max-width: 530px) {
  body {
    margin: 20px 20px;
  }

  .logo {
    width: 200px;
  }

  .site {
    width: 400px;
  }

  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 420px) {
  body {
    margin: 20px 10px;
  }

  .logo {
    width: 200px;
  }

  .site {
    width: 350px;
  }
}

@media only screen and (max-width: 365px) {
  body {
    margin: 20px 10px;
  }

  .logo {
    width: 200px;
  }

  .site {
    width: 300px;
  }

  p {
    font-size: 11px;
  }
}
